.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  max-width: 36px;
  cursor: pointer;
  padding: 0 3px;

  &__row {
    width: 100%;
    height: 2px;
    border-radius: 100%;
    background-color: $black-muted;
  }
}