@use "../../scss/fonts" as fonts;
@use "../../scss/colors" as *;
@use "../../scss/mixins" as *;

.container {
  @include container(74.3rem);
}

.welcome {
  margin-top: 3.75rem;

  &__content {
    display: grid;
    grid-template-columns: minmax(20rem, 33.75rem) minmax(20rem, 30rem);
    grid-template-rows: 26.25rem 3.75rem auto auto;
    grid-template-areas: "welcome_first welcome_last"
                          ".                        ."
                          "welcome_text             ."
                          "welcome_button welcome_button";
    justify-content: space-between;
  }

  &__first {
    grid-area: welcome_first;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15.12rem 7.125rem;
    grid-template-areas: "banner"
                         "title";
    gap: 3.75rem;
  }

  &__banner {
    grid-area: banner;
    background-image: url("../../assets/welcome-last.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0.25rem 0.625rem 0 rgba($black, 0.4);
    max-width: 17.37rem;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__title {
    grid-area: title;
    font-size: fonts.$fz_60;
    font-weight: fonts.$fw_300;
    color: $black;
    line-height: 1;
  }

  &__accent {
    font-family: "Bad Script", serif;
    font-weight: fonts.$fw_400;
    font-size: fonts.$fz_60;
    color: $violet;
  }

  &__last {
    grid-area: welcome_last;
    background-image: url("../../assets/welcome-first.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.25rem 0.625rem 0 rgba($black, 0.4);
  }

  &__text {
    grid-area: welcome_text;
    max-width: 15.625rem;
    font-weight: fonts.$fw_300;
    font-size: fonts.$fz_16;
    color: $gray;
  }

  &__button {
    grid-column: span 2;
    grid-area: welcome_button;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

