.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $gray-300;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: $fs-14;
    color: $black-muted;
    font-weight: $font-regular;
  }
}

