@use "../../scss/fonts" as fonts;
@use "../../scss/colors" as *;
@use "../../scss/mixins" as *;


.container {
  @include container(74.3rem);
}

.about {
  margin-top: 9.3rem;
  position: relative;

  &:before {
    content: url("../../assets/ellipse-right.png");
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0,-13.75rem);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5.93rem;
  }

  &__title {
    font-size: fonts.$fz_40;
    font-weight:  fonts.$fw_300;
  }

  &__circles {
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;

    &_row {
      display: grid;

      &:first-child {
        grid-template-columns: repeat(4, minmax(10.93rem, 11.25rem));
        gap: 6.25rem;
      }

      &:last-child {
        grid-template-columns: repeat(5, minmax(10.93rem, 11.55rem));


        & :first-child {
          grid-column: 2 / span 1;
        }

        & :last-child {
          grid-column: 5 / span 1;
        }
      }
    }

    &:last-child {
      transform: translate(0,-6.25rem);
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.first {
  &:first-child {

    &::before {
      position: absolute;
      right: 2.5rem;
      top: 1.25rem;
      content: "";
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background-color: $violet;
      box-shadow: 0 0.25rem 0.625rem 0 rgba($black, 0.4);
      bottom: 0;
    }
  }

  &:nth-child(3) {
    &::before {
      position: absolute;
      right: -1.875rem;
      top: -1.875rem;
      content: "";
      width: 2.875rem;
      height: 2.875rem;
      border-radius: 50%;
      background-color: $violet;
      box-shadow: 0 0.25rem 0.625rem 0 rgba($black, 0.4);
    }
  }
}

.last {
  &:first-child {

    &::before {
      position: absolute;
      right: 0;
      top: 1.25rem;
      content: "";
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background-color: $violet;
      box-shadow: 0 0.25rem 0.25rem 0 rgba($black, 0.4);
      bottom: 0;
    }
  }

  &:last-child {
    &::before {
      position: absolute;
      right: -1.875rem;
      top: -1.875rem;
      content: "";
      width: 2.875rem;
      height: 2.875rem;
      border-radius: 50%;
      background-color: $violet;
      box-shadow: 0 0.25rem 0.625rem 0 rgba($black, 0.4);
    }
  }
}

