@use "../../scss/fonts" as *;
@use "../../scss/colors" as *;
@use "../../scss/mixins" as *;


.container {
  @include container(1190px);
  position: relative;
}

.stock {
  margin-top: 5rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5.625rem;
    position: relative;
  }

  &__title {
    font-size: $fz_40;
    font-weight: $fw_300;
    position: relative;
    display: inline-block;

    &:after {
      content: "Акции";
      color: $violet;
      font-family: "Bad Script", sans-serif;
      transform: translate(0.93rem, 0.93rem);
      position: absolute;
    }
  }

  &__slider {
    width: auto;
    overflow: visible;
    margin-right: calc(-50vw + 74.3rem / 2);
  }

  &__list {
    display: flex;
    gap: 5rem;
    overflow-x: auto;
  }
}