.button {
  align-self: flex-end;
  padding: 14px;
  border-radius: 100%;
  background-color: $primary;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;

  &__image {
    width: 20px;
    height: 20px;
    background: none;
  }

  &:hover {
    scale: 1.2;
    transition: 0.3s ease-in-out;
  }
}