.panel {
  position: absolute;
  right: 0;
  margin-top: 20px;
  z-index: 99;
  padding: 20px;
  max-width: 212px;
  width: 100%;
  box-shadow: 0 4px 20px 0 rgba(51, 51, 51, 0.05);
  background-color: $white-soft;

  display: flex;
  flex-direction: column;
  gap: 15px;

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $gray-300;
  }

  &__button {
    background-color: $primary;
    padding: 8px 35px;
    cursor: pointer;
    color: $white-soft;
    font-size: $fs-14;
    font-weight: $font-regular;
    box-shadow: 0 4px 10px 0 rgba(81, 74, 126, 0.4);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 4px;
  }

  &__link {
    color: $black-muted;
    font-weight: $font-light;
    font-size: $fs-12;
    display: flex;
    align-items: center;
    gap: 15px;

    &_image {
      width: 20px;
      height: 20px;
    }
  }
}