$black: #000000;
$black-soft: #111111;
$black-muted: #121212;
$dark: #333333;

$white: #ffffff;
$white-soft: #fffdf5;

$gray-100: #fdfdf5;
$gray-200: #cccccc;
$gray-300: #c4c4c4;
$gray-400: #7d7d7d;

$primary: #514a7e;
$primary-40: rgba(81, 74, 126, 0.4);
$primary-20: rgba(81, 74, 126, 0.2);

$accent-green: #1fa68e;
$accent-pink: #dc39cc;
$accent-yellow: #fff385;
$accent-blue: #296297;

$success: #3d7b52;
$error: #a61f1f;
$warning: #ead943;

$black-20: rgba(18, 18, 18, 0.2);
$white-40: rgba(255, 253, 245, 0.4);
