@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital@0;1&display=swap');

$font-primary: "Roboto", sans-serif;
$font-secondary: "Bad Script", cursive;

$font-thin: 250;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-32: 32px;
$fs-40: 40px;
