@use "../../scss/fonts" as *;
@use "../../scss/colors" as *;


.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border-bottom: 1px solid $gray;
  padding-bottom: 5px;


  &::placeholder {
    color: $gray;
    font-size: $fz_12;
    font: $fw_250;
  }
}

.error {
  display: none;
  color: $red;
  font-size: $fz_12;
  font-weight: $fw_300;
}