.panel {
  position: absolute;
  right: 0;
  margin-top: 20px;
  z-index: 99;
  padding: 20px;
  max-width: 212px;
  width: 100%;
  box-shadow: 0 4px 20px 0 rgba(51, 51, 51, 0.05);
  background-color: $white-soft;

  display: flex;
  flex-direction: column;
  gap: 15px;

  transition:
          opacity 0.2s ease,
          transform 0.2s ease;


  &.closed {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }

  &.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}