@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//FONT-SIZE
$fz_12: 12px;
$fz_14: 14px;
$fz_16:16px;
$fz_20: 20px;
$fz_40: 40px;
$fz_60: 60px;
//FONT-WEIGHT
$fw_250: 250;
$fw_300: 300;
$fw_400: 400;
