@use "../../scss/fonts" as *;
@use "../../scss/colors" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba($black, 0.4);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: $violet;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}